

body {
  background-color: #303036;
  font-family: 'Roboto', sans-serif;
}

/* ----------------------styles--and----colors------------------------------- */

.font--Yellowtail {
  font-family: 'Yellowtail', cursive;
}

.font--Special_Elite {
  font-family: 'Special Elite', cursive;
}

.text--upper {
  text-transform: uppercase;  
}

.text-center {
  text-align: center;
}

.border--gray {
   border: 1px solid #565661;
}

.dorp-down-shadow {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

.primary--color {
  color: #d3d3d3;
}

.primary--color--b {
 color: #CCCCCC;
}


.secondary--color--b {
  color: #c0c0c0;  
}

.secondary--color {
  color: #B8B8B8;  
}

.Orange {
  color: #A96260;
}

.gray {
  color: #565661;
}

.green {
  color: #6d7a52;
}

.gray--background {
  background-color: #565661;
}

.dark--text {
  color: #292C26;
}

.color--1 {
   background-color: #303036;
}
 
.color--2 {
  background-color:   #A96260;
}

span{
    color: #c0c0c0;
    font-size: 1.3em;
}

/*---------------------------------------------------------------------NavBar*/

.navbar--custom {
  width: 100%;
  height: 63px;
  line-height: 36px;
  display: inline-flex;
  position: fixed; 
  z-index: 9;
}

.dropdown--menu {
  background-color: rgb(48, 48, 54, .6);
  width: 120px;
  border: 1px solid #565661;
}

.dropdown--menu a {
 width: 100px;
 text-align: right;
 float: right;
 font-size: 1em;
 letter-spacing: 1.5px;
 margin: 6px 9px;
}

.brand--style {
  display: inline-block;
}

.brand--style--position {
  width: 230px;
  padding: 15px 0 0 12px;
}

.brand--style a { 
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #c0c0c0;
  padding:0 12px 1px 6px;
  font-size: 36px;  
  border-bottom: 1px solid #ad7472;
  transition: .1s;
}

.brand--style a:hover {
  opacity: .8;
}
 
.padding--0 {
  padding: 0;
}

.nav--social--block {
  line-height: 30px;
  text-align: right;
  float: right;
  width: 209px;
  border-bottom: 1px solid #ad7472;
  margin: 12px;
}


.btn--social {
  font-size: 33px;
  margin: 0 9px;
}

.nav--link--block {
  width: 400px;
  margin: auto;
  display: block;
}

.about {
    display: inline-block; 
}

.nav--link--block a {
 text-align: center;
 display: inline-block; 
 width: 96px;
 letter-spacing: 1.5px;
 border: 1px solid #ad7472;
 border-radius: 12px;
}


.btn--style a {
  color: #c0c0c0; 
  text-decoration: none;
  transition: .1s;
}


.btn--hover:hover {
  opacity: .6; 
}

.btn--hamburger {
  margin: 9px 6px;
  width: 45px;
  color:  #c0c0c0;
  border: none;
  background-color: #A96260; 
  float: right; 
}

.btn--hamburger i {
  font-size: 2rem;
  margin-top: 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ad7472;
  
}

.hanburger--position {
  width: 100%;
}

/*----------------------------------------------------------Home*/
.home--container {
  width: 100%;
  position: relative;
}

.overlay { 
  width: 100%;
  height: 100%;  
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;  
  background-image: linear-gradient(rgb(169, 98, 96) 66px,   rgb(169, 98, 96, .3) 50%, rgb(48, 48, 54, .3) 70%, rgb(48, 48, 54, .5) 90%, rgb(48, 48, 54) 99%);   
}

.main--pic {
  width: 100%;
  height: 97%;  
  position: absolute;  
  z-index: 1;  
  background: url('../images/pexels-visually-us-1477166.jpg') center center / cover;
  filter: blur(3px);  
}
 
.home--content {
  position: relative;  
  z-index: 3; 
  max-width: 1280px;
  height: auto;
  margin: auto;
  padding: 63px 12px 0px 12px;
}

.main--heading {
  width: 100%;
  margin: auto;
  padding: 12% 0 12% 0;
}

.main--heading h3 {
  font-size: min(max(1.7rem, 8vw), 6rem);
  padding: 6% 0;
}

.main--heading h1 {
  font-size: min(max(3.5rem, 17vw), 14rem);
}

.creative--solutions {
  width: fit-content;
  width:-moz-max-content;
  padding: 0 6px 6px 6px;
  border-bottom: 1px solid #ad7472;
  font-size: min(max(.6rem, 2.3vw), 2rem);
} 

/*----------------------------------------------------------About*/
.About--content-container {
  max-width: 1280px;
  margin: auto;
}

.about--headding { 
  color: #b3b3b3;
}

.about--headding h2{
  width: fit-content;
  width:-moz-max-content;
  margin: auto;
  border-bottom: 1px solid #565661;
}

.about--content {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.welcome,
.we-choose,
.occasion {
  width: fit-content;
  height: fit-content;
  margin:9px;
  border-radius: 12px;

  max-width: 600px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 350px;
}

.about--content p {
  text-align: center;
  padding: 12px  0px;
  margin: auto;
  color: #d3d3d3;
  border-bottom: 1px solid #565661;
}

.about--content img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

.let {
  width:-moz-max-content;
  width: fit-content;
  margin: auto;
  margin-top: 24px;
}

.let p {
  background-color: #6d7a52;
  padding: 9px;
  border: 1px solid #565661;
  border-radius: 12px;
  margin: auto;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255 .03);
  transition: 0.1s;
}

.let p:hover {
  background-color: rgba(120, 135, 90, 0.5);
}

/*----------------------------------------------------------best--Sellesrs*/

.best-sellers-heading {
  padding: 0px 9px 0 9px;
  width: fit-content;
  width:-moz-max-content;
  margin: auto;
  border-bottom: 1px solid #565661;
}

.best-sellers {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 63px auto 0 auto;
}

.sale-wrap-1,
.sale-wrap-2 {
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  max-width: 400;
  flex-basis: 300px;
  flex-shrink: 2;
  flex-grow: 1;
}

.best-sellers img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  
}

.sale-wrap-2 div,
.sale-wrap-1 div {
  position: relative;
  width: fit-content;
  height: fit-content;
  max-width: 220px;
  flex-basis: 150px;
  flex-shrink: 2;
  flex-grow: 2;
  text-transform: uppercase;
  border-radius: 12px;
  font-weight: bold;
  font-size: .8rem;
  box-shadow: 0 0 4px 4px rgba(129, 129, 129, 0.3);
  transition: ease-in-out 300ms;
  z-index: 1;
}

.sale-3,
.sale-1 {
  margin-right: -20px;
}
.sale-4,
.sale-2 {
  margin-left: -20px;
}

 .sale-wrap-1{
   margin-top: -40px; 
  margin-right: -20px;
}
 .sale-wrap-2{
    margin-top: -40px;
   margin-left: -20px;
 }

 .sale-wrap-2 div,
 .sale-wrap-1 div { 
  transform: scale(.9) translate(0%, 0%) rotate(-6deg);
  z-index: 1;
}
.sale-wrap-1 div:hover, 
.sale-wrap-2 div:hover {
  z-index: 2; 
  transform: scale(1) translate(5%, -5%) rotate(0deg);
}

.best-sellers p {
  display: block;
  position: absolute;
  border-radius: 12px 12px 0 0;
  top: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  color: #d3d3d3;
  white-space: nowrap;
  font-size: .7rem; 
}

.sale-1 p {
  background-color: #78875a;
}
.sale-2 p {
  background-color: #A96260;
}
.sale-3 p {
  background-color: darkgoldenrod;
}
.sale-4 p {
  background-color: darkcyan;
}

/*----------------------------------------------------------Galery*/

.galery--container {
  width: inherit;
}

.galery--headding .underline-galery {
  width: auto;
  margin: auto;
  margin-top: 36px;
}

.galery--headding h1 {
  padding: 6px 9px 0 9px;
  margin-bottom: 0;
  width: fit-content;
  width:-moz-max-content;
  margin: auto;
  color: #B8B8B8;
  border-bottom: 1px solid #565661;
}

.galery--content-container {
  margin: auto;
  margin-bottom: 36px;
  max-width: 1280px;
  height: 100%;
  padding: 0 12px 18px 12px;

}

.galery--content-container img{
  width:100%;
  height: 100%;
  border-radius: 12px;
  opacity: 1;
  box-shadow: 0 0 4px 4px rgba(129, 129, 129, 0.3);
  transition: 0.2s;
}

.galery--content-container img:hover {  
  opacity: .8;
}

.thumbnail-galery {
  padding: 24px 0 0 0;
}

.two-pic-spacer {
  margin-bottom: 9%;
}

/*-------------------------------------------------------Contact page*/

.contact--container {
    width: inherit;  
}

.contact--content-container {
  max-width: 1280px;
  margin: auto;
  padding: 36px 0px;
}

/*--------------------------Review--Area*/

.review--container {
  padding: 0 12px 15px 12px;
}

.review--padding { 
  min-height: auto; 
  padding: 9px;
}

.pic--frame {
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 12px; 
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}


.review--img {
  height: 100px;
  width: 100px;
  margin: 3px;
  border-radius: 50%;
}

.review--heading h2 {
  margin: auto;
  margin-bottom: 24px;
  width: fit-content;
  width:-moz-max-content;
  padding: 0px 9px 3px 9px;
  border-bottom: 1px solid #565661;
}

.pic--frame p{
  margin-top: auto;
  margin-bottom: auto;
  color: #d3d3d3;
  padding: 6px;
}

.pic--frame span{
  text-transform: uppercase;
  border-bottom: 1px solid #565661;
}

/*------------------------------------contact form*/
.contact--form {
  padding:36px 9px 0 9px;
  margin: auto;
  max-width: 600px;
  color: #B8B8B8;
}

.contact--form h2 {
  width: fit-content;
  width:-moz-max-content;
  margin: auto;
  margin-bottom: 24px;
  border-bottom: 1px solid #565661;
  padding: 0px 9px 3px 9px;
}

/* Contact--form--help--from--here--https://www.w3schools.com/css/tryit.asp?filename=trycss_forms--*/

.contact--form input[type=text], 
.contact--form input[type=email],
.contact--form textarea {
  width: 100%;
  display: inline-block;
  background-color: #303036;
  border: 1px solid #565661;
  color: #CCCCCC;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px 20px;
  box-sizing: border-box;
  transition: .1s;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, 
input[type=email]:focus, 
textarea:focus {
  background-color: #3d3d44;
  color: #CCCCCC;
  outline: none;
}

input[type=text]:hover, 
input[type=email]:hover, 
textarea:hover {
  background-color: #3d3d44;
}

/*---auto--complere--background---color--CSS--VALIDATION--ERROR--https://stackoverflow.com/questions/2781549
/removing-input-background-colour-for-chrome-autocomplete---*/

.contact--form input::-webkit-input-placeholder,
.contact--form textarea::-webkit-input-placeholder {
    color: #CCCCCC;
}

input:-webkit-autofill { 
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
}

/* ---------END Autocomplete--color------- */

input[type=submit] {
  width: 100%;
  background-color: #6d7a52;
  color: #CCCCCC;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: .1s;
}

input[type=submit]:hover {
  background-color: #78875a;  
}


.Contact--form textarea {
  resize: none;
  height: 133.3px;
}

/* -----------------------------------------footer-----------------------------*/
.footer--container {
    width: inherit;
    min-height: 200px;
    background-color: #A96260; 
}

.socia--footer--block {
    width: 250px;
    margin: auto;
    margin-top: 36px;
    text-align: center;
    background-color: #A96260;
    border-radius: 12px 12px 0 0;
    padding-top: 6px;
}

.border-- {
    width: fit-content;
    margin: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid #b36865; 
}



.footer--container--content {   
    margin: auto;
    max-width: 1280px;
}

.footer--container--content ul {
  padding: 0 9px 9px 9px;
  margin: auto;
}

.footer--container--content li {
    margin: auto;
    line-height: 50px;
    border-bottom: 1px solid #b36865;
    max-width: 600px;    
    color: #d3d3d3;
    list-style: none;
    letter-spacing: 1.5px;
    font-size: .8em;
}

.footer--container--content p {
  max-width: 260px;
  text-align: right;
  margin: auto;  
}


.footer--container--content span{
  text-align: left;
  float: left;
  width: 45px;
  font-weight: bold;
  
}


footer ul a {
  text-decoration: none;
  color: #ccc;
  transition: .2s;
}

footer ul a:hover {
  padding-right: 12px;
    color: #b3b3b3;
}


footer h4 {
  padding: 9px 9px 0 9px ;
  margin: auto;
  margin-bottom: 9px;
  width: fit-content;
  width:-moz-max-content;
  color: #c0c0c0;
  border-bottom: 1px solid #b36865;
}

.copyright {
  text-align: center;
  padding: 0 9px 9px 9px;
  
}

.copyright p {
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  font-size: .8rem;
}

.icon {
  
  line-height: 2rem;
  text-align: center;
}

.icon i {
  font-size: 2rem;
  color: #c0c0c0;
}

.map-icon {
  padding-bottom: 9px;
}

.map-outer {
  padding: 0;
  margin: auto;
}

.map {
  padding: 0 9px 9px 9px;
  margin: auto;
  height: 160px;
  max-width: 1000px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/*--------------------------Media---screen-----------------------------*/
@media screen and (max-width: 1550px) {

  .main--heading {
    padding: 6% 0;
  }

  .main--heading h3 {
    padding: 3% 0;
  } 
}

@media screen and (max-width: 1103px) {
  .welcome {
    order: 1;
  }
  .about-content {
    flex-basis: 400px;
  }
  
  .we-choose {
    order: 3;
  }
  .occasion {
    order: 2;
  }

}

@media screen and (max-width: 991.5px) {
  .nav--link--block {
    width: 100%;
    margin: 12px;
    text-align: right;
 }
}

  
@media screen and (max-width: 767px) {
/* ---------------------------Home-----page------- */
   .home--content {
     padding-left: 0px;
     padding-right: 0px;
   }
  .main--heading h3 {
    text-align: center;
    font-size: 9.38vw;
  }
  .main--heading h1 {
    margin-left: 0;
    font-size: 18.2vw;
  }
  .creative--div {
    border-bottom: 1px solid #565661;
  }
  .creative--solutions {
    padding: 0 0 12px 0;
    margin:  auto;
    border: none;
  }

  .about {
    display: none;
  }
  
 /* -------------------review-------------- */ 
  .review--container, 
  .galery--content-container {
    max-width: 600px;
    margin: auto;
    border-bottom: 1px solid #565661;
  } 

}


@media screen and (max-width: 603px) {
  .Contact--form {
    margin: auto;
    width: 100%;
  }
  .two-pic-spacer {
    margin-bottom: 0;
  }

  .sale-wrap-2,
  .sale-wrap-1 { 
    margin-left: 9px;
    margin-right: 9px;
  }
  .sale-wrap-1 .sale-1:hover,
  .sale-wrap-2 .sale-3:hover { 
   transform: translate(-5%, -5%)
  } 
}  

@media screen and (max-width: 572px) {
    .no--display {
        display: none ; 
    }
}

@media screen and (max-width: 390px) {
  .brand--style a { 
    font-size: 32px;    
  }
  .let {
    font-size: 3.5vw;
  }
  
  .about--content {
    margin-top: 0;
  }

  .about--headding {
    display: none;
  }

  .review--container p,  
  .review--container span
  .about--content p {
    font-size: .8rem;
  }
}

@media screen and (max-width: 321px) {
  .main--heading h1,
  .main--pic,
  .overlay {
    display: none;
  }
}

