

/* https://coolors.co/177e89-084c61-db3a34-ffc857-1f1e1f-0f0906-dcccbb */


/* https://stackoverflow.com/ ----- Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
body {

  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

hr {
  margin:0;
}


/* ----------------------styles--and----colors------------------------------- */

.font--Yellowtail {
  font-family: 'Yellowtail', cursive;
}

.font--Special_Elite {
  font-family: 'Special Elite', cursive;
}

.text--upper {
  text-transform: uppercase;  
}

.text-center {
  text-align: center;
}

.border--gray {
   border: 1px solid #565661;
}

.dorp-down-shadow {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

.primary--color {
  color: #EBEBEB;
}

.primary--color--b {
 color: #CCCCCC;
}

.secondary--color {
  color: #B8B8B8;  
}


.cherry-red {
  color: #56242c;
}

.purple {
 color: #A3668C;
}

.Orange {
  color: #A96260;
}

.gray {
  color: #565661;
}

.green {
  color: #6d7a52;
}

.gray--background {
  background-color: #565661;
}

.dark--text {
  color: #292C26;
}

.color--1 {
   background-color: #303036;
}
 
.color--2 {
  background-color:   #A96260;
}

/* position-fixed */
/*---------------------------------------------------------------------NavBar*/

.navbar--custom {
  width: 100%;
  height: 63px;
  line-height: 36px;
  opacity: .9;
  display: flex;
  position: fixed; 
  z-index: 1;
}

.navbar--custom:hover {
  opacity: 100%;
}

.dropdown--menu {
  background-color: rgb(48, 48, 54, .4);
  width: 120px;
  border: 1px solid #565661;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

.dropdown--menu a {
 display: inline-block; 
 width: 100px;
 text-align: right;
 float: right;
 font-size: 1em;
 letter-spacing: 1.5px;
 margin: 6px 9px;
}

.brand--style {
  display: flex;
  padding: 12px;
}

.brand--style a{
  width: 203px;
  text-decoration: none;
  color: #CCCCCC;
  font-size: 36px;
  border-bottom: 1px solid #b36865;
}

.brand--style a:hover {
  opacity: .6;
}
 
.padding--0 {
  padding: 0;
}

.nav--social--block {
  line-height: 30px;
  text-align: right;
  float: right;
  width: 209px;
  border-bottom: 1px solid #b36865;
  margin: 12px;
}


.btn--social {
  font-size: 33px;
  margin: 0 9px;
}

.nav--link--block {
  width: 300px;
  margin: auto;
  display: block;
}

.nav--link--block a {
 text-align: center;
 display: inline-block; 
 width: 96px;
 letter-spacing: 1.5px;
 border: 1px solid rgb(173, 116, 114);
 border-radius: 12px;
}

.nav--link--block a:hover {
    background-color: #b36865;
}

.btn--style a {
  color: #CCCCCC; 
  text-decoration: none;
}


.btn--hover:hover {
  opacity: .6; 
}

.btn--hamburger {
  margin: 9px 12px;
  width: 45px;
  color:  #CCCCCC;
  border: none;
  background-color: #A96260; 
  float: right;
 
  
}

.btn--hamburger i {
  font-size: 2em;
  margin-top: 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid #b36865;
  
}

.hanburger--position {
  width: 100%;
}

/*----------------------------------------------------------Home*/

/*-------------header*/


.home--container {
  min-height: 1200px;
  background-color: #303036 ;
  border-bottom: solid 36px  #303036;
}


 
.header--content {
    max-width: 1200px;
    margin: auto;
    padding: 93px 12px 63px 12px;
}


.main--heading {
  width: fit-content; 
  border-bottom: 1px solid #b36865;
}

.main--heading h1 {
  font-size: min(max(2em, 5vw),4em);
  margin-left: 100px; 
  margin-bottom: 36px;
  margin-top: 63px;
  
}

.main--heading span {
  font-size: min(max(4em, 12vw), 9em);
  text-shadow: 1px 2px #CCCCCC;
}

.creative--solutions {
  letter-spacing: 1px;
  padding: 20px 0;
  max-width: 758px;
  margin: auto;
  font-size: min(max(.8em, 2vw), 1em);

}

.main--pic {
  background: url('../images/pexels-visually-us-1477166_opt.jpg') bottom center / cover no-repeat;  
  background-color: #A96260; 
}

.overlay {  
  
/* https://www.w3schools.com/css/css3_gradients.asp */
background-image: linear-gradient(to bottom, rgb(169, 98, 96) , rgb(0,0,0, .0), rgb(48, 48, 54));
  
}

.home--content {
  margin: auto;
  padding: 63px 12px 63px 12px;
  max-width: 1200px;
}

.home--content h1 {
     margin: 0 0 93px 0;
     font-size: min(max(2em, 5vw), 4em);
}

.home--content h2 {
  margin: 63px 0;
}

.home--content h3 {
  margin: 36px 0;
}


/*----------------------------------------------------------Galery*/

.galery--container {
  min-height: 1200px;
  width: 100%;
}

.galery--headding .underline-galery {
  width: 200px;
  margin: auto;
  background-color: #B8B8B8;
  border-radius: 12px 12px 0 0;
  
}

.galery--headding h2 {
  padding-top: 6px;
  margin-bottom: 0;
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid #3d3d44;
}

.galery--content-container {
  max-width: 1200px;
  height: 100%;
  padding: 0 12px 24px 12px;
  border-radius: 12px;
  background-color: #B8B8B8;
}

.galery--content-container img{
  width:100%;
  height: 100%;
  border-radius: 12px;
}

.thumbnail-galery {
  padding: 24px 0 0 0;
}

.two-pic-spacer {
  margin-bottom: 9%;
}

/*--------------------------Reviews--------------------------------Contact page*/

.contact--container { 
    min-height: 800px;
    padding: 36px 0 36px 0;
}

.contact--content-container {
  max-width: 1200px;
  height: 100%;
}
/*----------------------------------------------------------contact form*/
.Contact--form {
  margin: auto;
  width: 600px;
  padding: 0 12px 0 12px;
  color: #B8B8B8;
}

.Contact--form h3 {
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid #565661;
  margin-bottom: 12px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_forms--------------------*/

.Contact--form input[type=text], 
.Contact--form input[type=email],
.Contact--form textarea {
  width: 100%;
  display: inline-block;
  background-color: #303036;
  border: 1px solid #565661;
  color: #CCCCCC;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px 20px;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, 
input[type=email]:focus, 
textarea:focus {
  background-color: #3d3d44;
  color: #CCCCCC;
  outline: none;
}

input[type=text]:hover, 
input[type=email]:hover, 
textarea:hover {
  background-color: #3d3d44;
}

.Contact--form input::-webkit-input-placeholder,
.Contact--form textarea::-webkit-input-placeholder {
    color: #CCCCCC;
}

input:invalid {
    background-color: #FFAAAA;
}

input:valid {
    background-color: #AAFFAA;
}

input[type=submit] {
  width: 100%;
  background-color: #718f35;
  color: #CCCCCC;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7fa13b;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_form_textarea */

.Contact--form textarea {
  resize: none;
  height: 133.3px;; 
}

.Contact--form textarea:after {
  border: 1px solid #B8B8B8;
  border-radius: 12px;
}

/*--------------------------Review--Content------------------------------*/


.card--text {
  color: #EBEBEB;
  border-radius: 12px;
  margin: 12px 6px;
  background-color: #303036;
}

.card--text span{
  color: #B8B8B8;
}



.pic--frame {
  height: 100%;
  width: 100%;
  display: flex; 
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}


.padding--cards {
  padding: 6px;
}

.review--img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 5px;
}

.padding--cards--container {
  padding: 0 6px 36px 6px;
}

/* -------------------------------footer---------------------------------- */


.social--footer {
    text-align: center;
    background-color: #303036;
}

.socia--footer--block {
    width: 250px;
    margin: auto;
    background-color: #A96260;
    border-radius: 12px 12px 0 0;
    padding-top: 6px;
}

.border-- {
    width: fit-content;
    margin: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid #b36865; 
}

.footer--container {
    min-height: 200px;
    background-color: #A96260; 
}

.footer--container--content {
    text-align: center;
    margin: auto;
    padding: 12px 12px 12px 12px;
    max-width: 1200px;
}

.address {

}

.footer--container--content li {
    margin: auto;
    padding: 6px 0;
    border-bottom: 1px solid #b36865;
    width: 250px;
    list-style: none;
}


/*--------------------------Media---scree-----------------------------*/


@media screen and (max-width: 1024px) {
  .main--heading {
    margin: auto;
  }
}


@media screen and (max-width: 767px) {
  .nav--link--block {
    width: 100%;
    margin: 12px;
   text-align: right;
 }
} 

@media screen and (max-width: 603px) {
  .Contact--form {
  margin: auto;
  width: 100%;
  padding: 0 12px 0 12px;
  }
   .two-pic-spacer {
  margin-bottom: 0;
  }
}  

@media screen and (max-width: 480px) {
.main--heading h1 {
  margin-left: 0px; 
 }
}
