
/* https://stackoverflow.com/ ----FAILED--CSS--VALIDATION--- Hide--scrollbar--for--Chrome,--Safari--and--Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
html {  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #303036;
  font-family: 'Roboto', sans-serif;
}

/* ----------------------styles--and----colors------------------------------- */

.font--Yellowtail {
  font-family: 'Yellowtail', cursive;
}

.font--Special_Elite {
  font-family: 'Special Elite', cursive;
}

.text--upper {
  text-transform: uppercase;  
}

.text-center {
  text-align: center;
}

.border--gray {
   border: 1px solid #565661;
}

.dorp-down-shadow {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

.primary--color {
  color: #d3d3d3;
}

.primary--color--b {
 color: #CCCCCC;
}


.secondary--color--b {
  color: #c0c0c0;  
}

.secondary--color {
  color: #B8B8B8;  
}

.Orange {
  color: #A96260;
}

.gray {
  color: #565661;
}

.green {
  color: #6d7a52;
}

.gray--background {
  background-color: #565661;
}

.dark--text {
  color: #292C26;
}

.color--1 {
   background-color: #303036;
}
 
.color--2 {
  background-color:   #A96260;
}

/*---------------------------------------------------------------------NavBar*/

.navbar--custom {
  width: inherit;
  height: 63px;
  line-height: 36px;
  display: flex;
  position: fixed; 
  z-index: 9;
}

.dropdown--menu {
  background-color: rgb(48, 48, 54, .4);
  width: 120px;
  border: 1px solid #565661;
}

.dropdown--menu a {
 width: 100px;
 text-align: right;
 float: right;
 font-size: 1em;
 letter-spacing: 1.5px;
 margin: 6px 9px;
}

.brand--style {
  display: flex;
}

.brand--style--position {
  width: 230px;
  padding: 15px 0 0 12px;
}

.brand--style a { 
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #ccc;
  padding:0 12px 1px 6px;
  font-size: 36px;  
  border-bottom: 1px solid #ad7472;
}

.brand--style a:hover {
  opacity: .8;
}
 
.padding--0 {
  padding: 0;
}

.nav--social--block {
  line-height: 30px;
  text-align: right;
  float: right;
  width: 209px;
  border-bottom: 1px solid #ad7472;
  margin: 12px;
}


.btn--social {
  font-size: 33px;
  margin: 0 9px;
}

.nav--link--block {
  width: 300px;
  margin: auto;
  display: block;
}

.nav--link--block a {
 text-align: center;
 display: inline-block; 
 width: 96px;
 letter-spacing: 1.5px;
 border: 1px solid #ad7472;
 border-radius: 12px;
}


.btn--style a {
  color: #CCCCCC; 
  text-decoration: none;
}


.btn--hover:hover {
  opacity: .6; 
}

.btn--hamburger {
  margin: 9px 6px;
  width: 45px;
  color:  #CCCCCC;
  border: none;
  background-color: #A96260; 
  float: right; 
}

.btn--hamburger i {
  font-size: 2em;
  margin-top: 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ad7472;
  
}

.hanburger--position {
  width: 100%;
}

/*----------------------------------------------------------Home*/


.home--container {
  width: 100%;
  position: relative;
}


.overlay {  
  width: 100%;
  height: 100%;  
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;  
  background-image: linear-gradient(rgb(169, 98, 96) 66px,   rgb(169, 98, 96, .5) 30%, rgb(48, 48, 54) 85%, rgb(48, 48, 54) 90%);   
}

.main--pic {
  width: 100%;
  height: 95%;  
  position: absolute;  
  z-index: 1;  
  background: url('../images/pexels-visually-us-1477166.jpg') center center / cover no-repeat;
  filter: blur(1px);   
}
 
.home--content {
  position: inherit; 
  z-index: 3; 
  max-width: 1280px;
  height: auto;
  margin: auto;
  padding: 63px 12px 0px 12px;
}

.main--heading {
  width: 100%;
  margin: auto;
  padding: 12% 0;
}

.main--heading h3 {
  font-size: min(max(1.7em, 8vw), 6em);
  padding: 9% 0;
}

.main--heading h1 {
  font-size: min(max(3.5em, 17vw), 14em);
}

.creative--solutions {
  width: fit-content;
  letter-spacing: 2px;
  padding: 0 6px 6px 6px;
  border-bottom: 1px solid #ad7472;
  font-size: min(max(.6em, 2.3vw), 2em);
} 

/*----------------------------------------------------------About*/

.about--container {
    width: 100%;   
}

.About--content-container {
  position: relative;
  max-width: 1280px;
  height: 1000px;
  margin: auto;
  padding: 36px 0px;
}

.about--headding h1 {
    margin: auto;
    width: fit-content;
    padding: 0 9px 6px 9px;
    color: #B8B8B8;
    border-bottom: 1px solid #565661;
}

.about--content {
  color: #CCCCCC;
  font-size: 1.2em;
}

.about--content img {
  width:100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgba(129, 129, 129, 0.3);
  transition: 0.3s; 
}

.about--content .img-1 img:hover,
.about--content .img-2 img:hover,
.about--content .img-3 img:hover {
   width: 110%;
}

.about--content .img-1,
.about--content .img-3 {
   opacity: .6;   
   transition: 0.3s;
}

.about--content .img-1:hover,
.about--content .img-3:hover {
    z-index: 6;
    right: 3%;
    opacity: 1;
}

.about--content .img-2 {
    transition: 0.3s;
}

.about--content .img-2:hover {
    right: 10%;
}


.about--content .img-1,
.about--content .img-2,
.about--content .img-3 {
    position: absolute; 
    padding: 12px;
    border-radius: 50%;
}

.about--content .img-1 {
    right: 0%;
    top: 13%;
    max-width: 400px;
}

.about--content .img-2 {
    right: 5%;
    top: 30%;
    z-index: 2;
    max-width: 550px;
}

.about--content .img-3 {
    right: 0%;
    bottom: 0%;
    max-width: 400px;
    z-index: 1;
}

.about--content .welcome-h4,
.about--content .welcome,
.about--content .we-choose,
.about--content .occasion,
.about--content .let {
    position: absolute;   
    height: auto;
    padding: 0 6px;
    z-index: 7;
    /* line-height: 1.8em; */
}

.about--content p, .about--content h4 {
    border-bottom: 1px solid #565661;
    padding: 9px 6px;
}


.welcome-h4 {
    top: 15%;
}

.welcome-h4 span {
    color: #CCCCCC;
    font-size: 1.5em;
}

.welcome {
    top: 29%;
    max-width: 55%;
}


.we-choose {
    top: 46%;
    max-width: 50%;
}

.occasion {
    top: 66%;
    max-width: 55%;
}

.let {
   top: 85%;
}

.let span{
    color: #CCCCCC;
    font-size: 1.5em;
}


/*----------------------------------------------------------Galery*/

.galery--container {
  width: 100%;
}

.galery--headding .underline-galery {
  width: 200px;
  margin: auto;
  margin-top: 36px;
}

.galery--headding h1 {
  padding: 6px 9px 0 9px;
  margin-bottom: 0;
  width: fit-content;
  margin: auto;
  color: #B8B8B8;
  border-bottom: 1px solid #565661;
}

.galery--content-container {
  margin: auto;
  margin-bottom: 36px;
  max-width: 1280px;
  height: 100%;
  padding: 0 12px 24px 12px;

}

.galery--content-container img{
  width:100%;
  height: 100%;
  border-radius: 12px;
  opacity: .8;
  box-shadow: 0 0 4px 4px rgba(129, 129, 129, 0.3);
  transition: 0.2s;
}

.galery--content-container img:hover {  
  opacity: 1;
}

.thumbnail-galery {
  padding: 24px 0 0 0;
}

.two-pic-spacer {
  margin-bottom: 9%;
}

/*-------------------------------------------------------Contact page*/

.contact--container {
    width: 100%;  
}

.contact--content-container {
  max-width: 1280px;
  margin: auto;
  padding: 36px 6px 36px 6px;
}

/*--------------------------Review--Area*/

.review--heading h2 {
  margin: auto;
  margin-bottom: 24px;
  width: fit-content;
  padding: 0px 9px 6px 9px;
  border-bottom: 1px solid #565661;
}

.card--text {
  color: #d3d3d3;
  border-radius: 12px;
  margin: 12px 0;
  background-color: #303036;
}

.card--text span{
  text-transform: uppercase;
  color: #B8B8B8;
  border-bottom: 1px solid #565661;
}


.pic--frame {
  height: 100%;
  width: 100%;
  display: flex; 
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}


.review--cards {
  padding: 6px;
}

.review--img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 5px;
}

.review--cards--container {
  padding: 0 6px 36px 6px;
}

/*------------------------------------contact form*/
.Contact--form {
  padding:36px 0 0 0;
  margin: auto;
  width: 600px;
  color: #B8B8B8;
}

.Contact--form h2 {
  width: fit-content;
  margin: auto;
  margin-bottom: 24px;
  border-bottom: 1px solid #565661;
  padding: 0px 9px 6px 9px;
}

/* Contact--form--help--from--here--https://www.w3schools.com/css/tryit.asp?filename=trycss_forms--*/

.Contact--form input[type=text], 
.Contact--form input[type=email],
.Contact--form textarea {
  width: 100%;
  display: inline-block;
  background-color: #303036;
  border: 1px solid #565661;
  color: #CCCCCC;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px 20px;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, 
input[type=email]:focus, 
textarea:focus {
  background-color: #3d3d44;
  color: #CCCCCC;
  outline: none;
}

input[type=text]:hover, 
input[type=email]:hover, 
textarea:hover {
  background-color: #3d3d44;
}

/*---auto--complere--background---color--FAILED--CSS--VALIDATION---https://stackoverflow.com/questions/2781549
/removing-input-background-colour-for-chrome-autocomplete---*/

.Contact--form input::-webkit-input-placeholder,
.Contact--form textarea::-webkit-input-placeholder {
    color: #CCCCCC;
}

input:-webkit-autofill { 
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
}

/* ---------END Autocomplete--color------- */

input[type=submit] {
  width: 100%;
  background-color: #6d7a52;
  color: #CCCCCC;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #78875a;
}


.Contact--form textarea {
  resize: none;
  height: 133.3px;
}

/* -----------------------------------------footer-----------------------------*/

.socia--footer--block {
    width: 250px;
    margin: auto;
    margin-top: 36px;
    text-align: center;
    background-color: #A96260;
    border-radius: 12px 12px 0 0;
    padding-top: 6px;
}

.border-- {
    width: fit-content;
    margin: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid #b36865; 
}

.footer--container {
    min-height: 200px;
    background-color: #A96260; 
}

.footer--container--content {   
    margin: auto;
    padding: 12px;
    max-width: 1200px;
}

.footer--container--content ul {
  padding: 0;
}

.footer--container--content li {
    margin: auto;
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #b36865;
    width: 220px;
    
    color: #d3d3d3;
    list-style: none;
    letter-spacing: 1px;
    font-size: .8em;
}

.footer--container--content p {
  text-align: right;
  margin-bottom: 0;  
}


.footer--container--content span{
  text-align: left;
  float: left;
  width: 45px;
  color: #B8B8B8;
  font-weight: bold;
  margin-right: 6px;
}

footer {
  padding-top: 3px;
  background-color: #303036;
}

footer h4 {
  padding: 12px 12px 6px 12px;
  margin: auto;
  width: fit-content;
  color: #ccc;
  border-bottom: 1px solid #b36865;
}

.copyright {
  text-align: center;
  padding-bottom: 12px;
  
}

.copyright p {
  letter-spacing: 1px;
  font-size: .8em;
  margin-bottom: 0;
}

.copyright span {
  font-weight: bold;
}

.icon {
  text-align: center;
}

.icon i {
  font-size: 2em;
  color: #ccc;
}

/*--------------------------Media---screen-----------------------------*/
@media screen and (max-width: 1550px) {

        .main--heading {
     padding: 6% 0;
    }

    .main--heading h3 {
         padding: 3% 0;
    }

    .About--content-container {
         height: 700px; 
    }

    .about--content .img-1 {
        right: 0%;
        top: 13%;
        max-width: 300px;
    }

    .about--content .img-2 {
        right: 5%;
        top: 30%;
        max-width: 400px;
    }

    .about--content .img-3 {
        right: 0%;
        bottom: 0%;
        max-width: 300px;
    }
    
    .welcome-h4,
    .about--content .welcome,
    .about--content .we-choose,
    .about--content .occasion,
    .about--content .let {
        line-height: 1.2em;

    }

    .welcome-h4 {
        top: 15%;
        
    }

    .welcome {
          top: 30%;
        max-width: 60%;
    }

    .we-choose {
        top: 48%;
        max-width: 55%;
    }

   .occasion {
        top: 70%;
        max-width: 60%;
    }

    .let {
        top: 92%;
    }
}

@media screen and (max-width: 1124px) {
    .welcome,
    .occasion{
        max-width: 55%;
    }

    .we-choose {
      max-width:  50%;
    }
}


@media screen and (max-width: 950px) {
  .nav--link--block {
    width: 100%;
    margin: 12px;
   text-align: right;
 }
  .About--content-container {
         height: 1080px; 
    }

     .about--content .img-1 {
        top: 15%;
        right: 0;
    }

    .about--content .img-2 {
        top: 35%;
        left: 0;
    }
 
    .about--content .img-3{
        top: 70%;
        right: 0%;
    }
     .about--content .img-1,
     .about--content .img-2,
     .about--content .img-3 {
     max-width: 400px;
     opacity: 100%;
     }

    .about--content .welcome,
    .about--content .we-choose,
    .about--content .occasion,
    .about--content .let {
        max-width: 50%;
    }

     .about--content .welcome {
         top: 22%;
     }
    
     .about--content .we-choose {
        top: 52;
        right: 0;
     }
      
     .about--content .occasion {
        top: 78%;
     }
        

    .about--content .let {
        width:fit-content;
        top:98%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: .8em;
    }
    .welcome-h4 {
        top:13%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
  }
  
    .about--content .img-1 img:hover,
    .about--content .img-2 img:hover,
    .about--content .img-3 img:hover {
        width: 100%;
    }

    .about--content .img-1,
    .about--content .img-2,
    .about--content .img-3 {
         opacity: 1;
         transition: 0.3s;   
    }

    .about--content .img-1:hover,
    .about--content .img-2:hover,
    .about--content .img-3:hover  {
        right: 0;
        opacity: .8;
    }



  
@media screen and (max-width: 767px) {
  .About--content-container {
         height: 936px; 
    }

    .about--content .img-2 {
        display: none;
    }

    .about--content .img-1 {
        top: 30.5%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
 
    .about--content .img-3{
        top: 68.5%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

     .about--content .img-1,
     .about--content .img-3 {
     max-width: 375px;
     opacity: 100%;
     }

    .about--content .welcome,
    .about--content .we-choose,
    .about--content .occasion,
    .about--content .let {
        max-width: 600px;
       
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

     .about--content .welcome {
         top: 48%;
     }
    
     .about--content .we-choose {
        display: none;
     }
      
     .about--content .occasion {
        top: 85%;
     }
        

    .about--content .let {
        width:fit-content;
        top:95%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: .8em;
    }
    .welcome-h4 {
        top:13%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
  }
}


@media screen and (max-width: 603px) {
  .Contact--form {
  margin: auto;
  width: 100%;
  }

@media screen and (max-width: 603px) {
    .two-pic-spacer {
        margin-bottom: 0;
  }
}  

@media screen and (max-width: 572px) {
    .no--display {
        display: none ;
}

@media screen and (max-width: 480px) {
.main--heading h1 {
  margin-left: 0px; 
 }
  .about--content .let {
        font-size: .6em;
    }

     .about--content .welcome,
    .about--content .we-choose,
    .about--content .occasion {
       font-size: .8em;
    }
}
